sudo: required
services:
  - docker

before_install: 
  - docker build -t noulo/docker-react -f Dockerfile.dev . 

script: 
  - docker run -e CI=true noulo/docker-react npm run test

deploy:
  provider: elasticbeanstalk
  region: "us-east-2"
  app: "docker-react"
  env: "Dockerreact-env-2"
  bucket_name: "elasticbeanstalk-us-east-2-764653695516"
  bucket_path: "docker-react"
  on:
    branch: main
  access_key_id: "$AWS_ACCESS_KEY"
  secret_access_key: "$AWS_SECRET_KEY"

# AKIA3ECHJOIOGYD37657
# r+hZ1BLon+orMCar+2ZrSSI+BYTgaexhWwX2FYZf